doctype html

mixin serviceCard(title, description, price)
    .service-card
        div.service-card-info
            h3.bold-txt= title
            div.service-card-description
                p= description
        div.row
            div.price
                svg(width="100%" height="100%" viewBox="0 0 16 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M6.21 0C5.22 0 4.262 0.29 3.437 0.84L2.27728 1.61315C1.81766 1.91956 1.69361 2.5407 2.00015 3.00023C2.30657 3.45958 2.92738 3.58375 3.38682 3.27745L4.547 2.504C5.03947 2.17562 5.61808 2.00026 6.21 2H10.595C11.089 2.00091 11.5708 2.1538 11.9749 2.43791C12.379 2.72203 12.6859 3.1236 12.854 3.58814C13.022 4.05267 13.0431 4.55767 12.9143 5.03458C12.7855 5.5115 12.5131 5.93723 12.134 6.254L11.24 7H0V9H8.84L5.238 12H0V14H2.84L2.586 14.21C2.08908 14.6234 1.68935 15.1412 1.41523 15.7266C1.14111 16.312 0.999341 16.9506 1 17.597C1.00185 18.7644 1.46647 19.8833 2.29201 20.7087C3.11755 21.534 4.23665 21.9984 5.404 22H9.789C10.779 22 11.739 21.71 12.562 21.16L13.7224 20.3868C14.1822 20.0804 14.3064 19.4593 13.9998 18.9997C13.6934 18.5403 13.0726 18.4163 12.6132 18.7225L11.453 19.496C10.9605 19.8244 10.3819 19.9997 9.79 20H5.405C4.911 19.9991 4.42924 19.8462 4.02512 19.5621C3.62099 19.278 3.31407 18.8764 3.14601 18.4119C2.97796 17.9473 2.9569 17.4423 3.0857 16.9654C3.21451 16.4885 3.48693 16.0628 3.866 15.746L5.961 14H16V12H8.361L11.961 9H16V7H14.15C14.7016 6.24676 14.9993 5.3376 15 4.404C14.9984 3.23647 14.5339 2.11722 13.7083 1.29166C12.8828 0.466089 11.7635 0.00158739 10.596 0H6.21Z" fill="black")
                p= price
            button.pop-up.button
                p Записатися до нас
                svg(width="100%" height="100%" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M1 14.25L7.25 8L1 1.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

html(lang="uk")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Healthy Paw

        link(rel="stylesheet", href="./scss/main.scss")
    body
        div.pop-up-banner.hidden
            div.background
            div.pop-up-content
                div.row
                    h2 Запис на прийом
                    button.close-menu
                        svg(width="100%" height="100%" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M21.0613 18.9387C21.343 19.2205 21.5014 19.6027 21.5014 20.0012C21.5014 20.3997 21.343 20.7819 21.0613 21.0637C20.7795 21.3455 20.3973 21.5038 19.9988 21.5038C19.6002 21.5038 19.218 21.3455 18.9363 21.0637L11 13.125L3.06126 21.0612C2.77946 21.343 2.39727 21.5013 1.99876 21.5013C1.60024 21.5013 1.21805 21.343 0.936257 21.0612C0.654464 20.7794 0.496155 20.3972 0.496155 19.9987C0.496155 19.6002 0.654464 19.218 0.936257 18.9362L8.87501 11L0.938756 3.06122C0.656964 2.77943 0.498655 2.39724 0.498655 1.99872C0.498655 1.60021 0.656964 1.21802 0.938756 0.936225C1.22055 0.654432 1.60274 0.496123 2.00126 0.496123C2.39977 0.496123 2.78196 0.654432 3.06376 0.936225L11 8.87497L18.9388 0.934975C19.2205 0.653182 19.6027 0.494873 20.0013 0.494873C20.3998 0.494873 20.782 0.653182 21.0638 0.934975C21.3455 1.21677 21.5039 1.59896 21.5039 1.99747C21.5039 2.39599 21.3455 2.77818 21.0638 3.05997L13.125 11L21.0613 18.9387Z" fill="black")
                form.pop-up-form
                    label(for="name") Ваше ім'я
                    input#name(type="text" placeholder="Введіть ваше ім'я")

                    label(for="pet-name") Ім'я тварини
                    input#pet-name(type="text" placeholder="Введіть ім'я улюбленця")

                    label(for="pet-breed") Порода тварини
                    input#pet-breed(type="text" placeholder="Введіть породу улюбленця")

                    label(for="reason") Причина запису
                    input#reason(type="text" placeholder="Введіть причину запису")

                    label(for="phone") Контактний телефон
                    input#phone(type="tel" placeholder="Введіть ваш номер телефону")

                    button.submit-button Записатися

        div.pop-up-banner.hidden
            div.background
            div.pop-up-content
                div.row
                    h2.bold Замовити дзвінок
                    button.close-menu
                        svg(width="100%" height="100%" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M21.0613 18.9387C21.343 19.2205 21.5014 19.6027 21.5014 20.0012C21.5014 20.3997 21.343 20.7819 21.0613 21.0637C20.7795 21.3455 20.3973 21.5038 19.9988 21.5038C19.6002 21.5038 19.218 21.3455 18.9363 21.0637L11 13.125L3.06126 21.0612C2.77946 21.343 2.39727 21.5013 1.99876 21.5013C1.60024 21.5013 1.21805 21.343 0.936257 21.0612C0.654464 20.7794 0.496155 20.3972 0.496155 19.9987C0.496155 19.6002 0.654464 19.218 0.936257 18.9362L8.87501 11L0.938756 3.06122C0.656964 2.77943 0.498655 2.39724 0.498655 1.99872C0.498655 1.60021 0.656964 1.21802 0.938756 0.936225C1.22055 0.654432 1.60274 0.496123 2.00126 0.496123C2.39977 0.496123 2.78196 0.654432 3.06376 0.936225L11 8.87497L18.9388 0.934975C19.2205 0.653182 19.6027 0.494873 20.0013 0.494873C20.3998 0.494873 20.782 0.653182 21.0638 0.934975C21.3455 1.21677 21.5039 1.59896 21.5039 1.99747C21.5039 2.39599 21.3455 2.77818 21.0638 3.05997L13.125 11L21.0613 18.9387Z" fill="black")
                form.pop-up-form
                    label(for="call-name") Ваше ім'я
                    input#call-name(type="text" placeholder="Введіть ваше ім'я")

                    label(for="call-phone") Контактний телефон
                    input#call-phone(type="tel" placeholder="Введіть ваш номер телефону")

                    button.submit-button Зателефонуйте мені

        nav.mobile-menu-pop-up.hide-desktop.hidden
            button.close-menu
                svg(width="100%" height="100%" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M1.32654 1.89003C2.16801 0.726874 3.67309 0.606881 4.68823 1.62202L24.907 21.8408C25.9221 22.8559 26.0629 24.6217 25.2214 25.7849C24.3799 26.9481 22.8749 27.0681 21.8597 26.0529L1.64098 5.83417C0.625847 4.81904 0.485065 3.05318 1.32654 1.89003Z" fill="#49C0F3")
                    path(d="M1.69891 26.0666C0.857442 24.9035 0.998224 23.1376 2.01336 22.1225L22.2321 1.90375C23.2472 0.888611 24.7523 1.0086 25.5938 2.17176C26.4353 3.33491 26.2945 5.10077 25.2793 6.1159L5.0606 26.3346C4.04547 27.3498 2.54039 27.2298 1.69891 26.0666Z" fill="#49C0F3")
            ul.nav-mobile
                li
                    a(href="index.html") Головна
                li
                    a(href="services.html") Послуги
                li
                    a(href="about.html") Про нас
                li
                    a(href="contacts.html") Контакти

        header.header
            a(href="/").header-logo
                h1.bold-txt Healthy Paw
            nav.menu.hide-mobile
                ul.nav-desktop
                    li
                        a(href="index.html") Головна
                    li
                        a(href="services.html") Послуги
                    li
                        a(href="about.html") Про нас
                    li
                        a(href="contacts.html") Контакти

            div.mobile-menu.hide-desktop
                svg(width="100%" height="100%" viewBox="0 0 30 4" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M0 2C0 0.895431 0.895431 0 2 0H28C29.1046 0 30 0.895431 30 2C30 3.10457 29.1046 4 28 4H2C0.89543 4 0 3.10457 0 2Z" fill="#49C0F3")
                svg(width="100%" height="100%" viewBox="0 0 30 4" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M0 2C0 0.895431 0.895431 0 2 0H28C29.1046 0 30 0.895431 30 2C30 3.10457 29.1046 4 28 4H2C0.89543 4 0 3.10457 0 2Z" fill="#49C0F3")
                svg(width="100%" height="100%" viewBox="0 0 30 4" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M0 2C0 0.895431 0.895431 0 2 0H28C29.1046 0 30 0.895431 30 2C30 3.10457 29.1046 4 28 4H2C0.89543 4 0 3.10457 0 2Z" fill="#49C0F3")


            div.header-contacts
                p +38 (099) 123 12 12
                p Ми відкриті 24/7
                p Берестейський проспект, 37

        section#services-page
            div.services-page-background
                div.services-page-content
                    h2.page-title Наші послуги
                    div.row.wrap
                        +serviceCard("Екстренна допомога",
                            "Невідкладна ветеринарна допомога для тварин у критичному стані, зокрема при травмах, отруєннях або інших екстрених ситуаціях.",
                            "800-3000")
                        +serviceCard("Вакцинація",
                            "Проведення обов’язкових і рекомендованих щеплень для профілактики інфекційних захворювань у собак, котів та інших домашніх тварин.",
                            "500-800")
                        +serviceCard("Стерилізація/кастрація",
                            "Хірургічна процедура для контролю розмноження та покращення загального здоров'я вашого улюбленця. Знижує ризик онкологічних захворювань.",
                            "1200-2500")
                        +serviceCard("Чіпування тварин",
                            "Впровадження під шкіру мікрочіпа для ідентифікації вашого улюбленця в разі втрати або викрадення. Чіп містить унікальний код, прив'язаний до інформації про власника.",
                            "600-900")
                        +serviceCard("Діагностика та аналізи",
                            "Проведення різних видів лабораторних досліджень та аналізів для визначення стану здоров'я тварини.",
                            "300-1500")
                        +serviceCard("УЗД та рентген",
                            "Неінвазивна діагностика внутрішніх органів для виявлення захворювань та травм, таких як пухлини, вагітність або пошкодження кісток.",
                            "600-1200")
                        +serviceCard("Хірургічні втручання",
                            "Проведення планових та екстрених операцій, включаючи видалення новоутворень, лікування травм та інших захворювань.",
                            "1500-6000")
                        +serviceCard("Стоматологічні послуги",
                            "Чистка зубів, видалення зубного каменю, лікування захворювань ротової порожнини для підтримки здоров'я зубів та ясен у тварин.",
                            "500-2000")
                        +serviceCard("Консультація ветеринара",
                            "Консультація з ветеринаром щодо загального стану здоров’я вашого улюбленця, рекомендації з лікування або догляду.",
                            "300-500")
                        +serviceCard("Лікування паразитів",
                            "Лікування та профілактика від бліх, кліщів, глистів та інших паразитів. Включає використання ліків та проведення профілактичних процедур.",
                            "200-700")

        footer.footer
            div.row
                div.col-4
                    h2.bold-txt Healthy Paw
                    p Ветеринарна клініка
                    p.hide-mobile Healthy paw - турбота, якій можна довіряти. Професійна ветеринарна допомога та любов до кожного улюбленця.

                div.col-4.hide-mobile
                    h2 Навігація
                    ul.footer-nav
                        li
                            a(href="index.html") Головна
                        li
                            a(href="services.html") Послуги
                        li
                            a(href="about.html") Про нас
                        li
                            a(href="contacts.html") Контакти

                div.col-4
                    h2.hide-mobile Контакти
                    ul.footer-contacts
                        li.row
                            svg(width="100%", height="100%", viewBox="0 0 25 25", fill="none", xmlns="http://www.w3.org/2000/svg")
                                path(d="M8.50008 11.8959C7.69891 11.8959 6.93055 11.5776 6.36403 11.0111C5.79751 10.4446 5.47925 9.67626 5.47925 8.87508C5.47925 8.07391 5.79751 7.30555 6.36403 6.73903C6.93055 6.17251 7.69891 5.85425 8.50008 5.85425C9.30126 5.85425 10.0696 6.17251 10.6361 6.73903C11.2027 7.30555 11.5209 8.07391 11.5209 8.87508C11.5209 9.27178 11.4428 9.6646 11.291 10.0311C11.1392 10.3976 10.9166 10.7306 10.6361 11.0111C10.3556 11.2916 10.0226 11.5142 9.65611 11.666C9.2896 11.8178 8.89678 11.8959 8.50008 11.8959ZM8.50008 0.416748C6.25679 0.416748 4.10538 1.30789 2.51914 2.89414C0.932891 4.48038 0.041748 6.63179 0.041748 8.87508C0.041748 15.2188 8.50008 24.5834 8.50008 24.5834C8.50008 24.5834 16.9584 15.2188 16.9584 8.87508C16.9584 6.63179 16.0673 4.48038 14.481 2.89414C12.8948 1.30789 10.7434 0.416748 8.50008 0.416748Z", fill="black")
                            p м. Київ, Берестейський проспект, 37
                        li.row
                            svg(width="100%" height="100%" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M22.7677 17.8333C22.5657 19.3683 21.8118 20.7773 20.6469 21.7971C19.482 22.8169 17.9857 23.3778 16.4375 23.375C7.44298 23.375 0.12501 16.057 0.12501 7.06251C0.122235 5.51429 0.683132 4.01799 1.70294 2.85309C2.72275 1.68819 4.13173 0.934347 5.66673 0.732359C6.05489 0.684963 6.44797 0.764374 6.78729 0.958738C7.12661 1.1531 7.39397 1.45199 7.54946 1.8108L9.94196 7.15201V7.1656C10.061 7.44026 10.1102 7.74012 10.0851 8.03841C10.06 8.33669 9.96137 8.62412 9.7981 8.87502C9.77771 8.9056 9.75618 8.93392 9.73353 8.96224L7.37501 11.758C8.22349 13.4822 10.0269 15.2697 11.7737 16.1205L14.531 13.7744C14.558 13.7516 14.5864 13.7305 14.6159 13.711C14.8666 13.5438 15.155 13.4417 15.4551 13.414C15.7552 13.3863 16.0574 13.4339 16.3344 13.5524L16.3492 13.5592L21.6858 15.9506C22.0453 16.1055 22.3449 16.3726 22.5399 16.712C22.7349 17.0514 22.8148 17.4447 22.7677 17.8333Z" fill="black")
                            p +38 (099) 123 12 12
                        li.row
                            svg(width="100%" height="100%" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M12.5001 0.416748C19.1737 0.416748 24.5834 5.82646 24.5834 12.5001C24.5834 19.1737 19.1737 24.5834 12.5001 24.5834C5.82646 24.5834 0.416748 19.1737 0.416748 12.5001C0.416748 5.82646 5.82646 0.416748 12.5001 0.416748ZM12.5001 5.25008C12.1796 5.25008 11.8723 5.37739 11.6457 5.60399C11.4191 5.8306 11.2917 6.13794 11.2917 6.45841V12.5001C11.2918 12.8205 11.4192 13.1278 11.6458 13.3544L15.2708 16.9794C15.4987 17.1995 15.8039 17.3213 16.1207 17.3185C16.4376 17.3158 16.7406 17.1887 16.9647 16.9647C17.1887 16.7406 17.3158 16.4376 17.3185 16.1207C17.3213 15.8039 17.1995 15.4987 16.9794 15.2708L13.7084 11.9998V6.45841C13.7084 6.13794 13.5811 5.8306 13.3545 5.60399C13.1279 5.37739 12.8206 5.25008 12.5001 5.25008Z" fill="black")
                            p Цілодобово, без вихідних

                button.pop-up.button.hide-desktop
                    p Замовити дзвінок
                    svg(width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M1 14.25L7.25 8L1 1.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

            div.copyright
                p Усі права захищено © 2024