@use 'mixin' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

@mixin font($size, $weight, $base-width: 1440) {
  font-size: getVw($size, $base-width);
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
}