$light-blue: #C1E8FA;
$dark-blue: #799DF6;
$dark-blue-hovered: #5b75b5;
$dark-blue-pressed: #3c4d78;
$aqua-green: #81F7DF;
$header-nav-hover: #e8eaed;
$header-nav-pressed: #c7c8c9;
$desktop-width: 1440;
$mobile-width: 320;